<h1>Decode my Text</h1>
<%= render "decode/form" %>

<% if @decoded_phrase.present? %>
<div class="card">
    <div class="card-body">
        <p class='card-title fw-bold'>Here is your decoded text: </p>
        <p class='card-text fs-5'><%= @decoded_phrase %></p>
    </div>
</div>
<% end %>

