<h1>Encode your Text here</h1>
<%= render "encode/form" %>


<% if @encoded_phrase.present? %>
    <p>Here is your encoded text: <%= @encoded_phrase %></p>
<% end %>

<%= link_to "Home", welcome_index_path %>