<h1>Welcome to my Caesar Cipher</h1>
<p>(Add definition and history on Caesar's cipher here, myabe a bit about ancient encryption methods)</p>

<p>This should be no more than four paragraphs long</p>

<p>Maybe even three if I'm too tired (which I am)</p>

<p>What would you like to do?</p>

<%= link_to "Encode", encode_index_path %>
<%= link_to "Decode", decode_index_path %>
